.mnclaculator {
  border: 2px solid green;
  width: 10vw;
  padding: 12px;
  padding-top: 12x;
  margin: 120px auto;
  height: auto;
  background-color: rgb(215, 217, 218);
}

.screen {
  border: 1px solid black;
  height: 15vh;
  width: 100%;
  margin-bottom: 12px;
  background-color: black;
  color: white;
  word-wrap: break-word;
  overflow: hidden;
}

.buttons button {
  padding: 12px;
  margin-bottom: 8px;
  width: 23%;
  border: 1px solid rgb(197, 194, 194);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.buttons #ac {
  background-color: rgb(171, 15, 15);
  color: white;
  border-color: rgb(171, 15, 15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.buttons #be {
  background-color: rgb(104, 129, 85);
  color: white;
  border-color: rgb(104, 129, 85);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.buttons button:hover,
#be:hover,
#ac:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  .mnclaculator {
    width: 50vw;
  }
}

@media screen and (min-width: 541px) and (max-width: 1000px) {
  .mnclaculator {
    width: 30vw;
  }
}

@media screen and (min-width: 1001px) {
  .mnclaculator {
    width: 22vw;
  }
}
