.mnclaculator {
  border: 2px solid rgb(95, 107, 95);
  width: 10vw;
  padding: 12px;
  padding-top: 12x;
  margin: 120px auto;
  height: auto;
  background-color: rgb(215, 217, 218);
  border-radius: 6px;
}

.screen {
  border: 1px solid black;
  height: 15vh;
  width: 100%;
  margin-bottom: 12px;
  background-color: black;
  color: white;
  word-wrap: break-word;
  overflow: hidden;
  border-radius: 6px;
}

.buttons button {
  padding: 12px;
  margin-bottom: 8px;
  width: 23%;
  border: 1px solid rgb(197, 194, 194);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
}

.buttons #ac {
  background-color: rgb(171, 15, 15);
  color: white;
  border-color: rgb(171, 15, 15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  width: 15vw;
}

.buttons #be {
  background-color: rgb(104, 129, 85);
  color: white;
  border-color: rgb(104, 129, 85);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  width: 33vw;
}
.buttons #bb {
  background-color: rgb(215, 203, 71);
  color: rgb(13, 12, 12);
  border-color: rgb(215, 203, 71);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}
.buttons #be:active {
  background-color: black;
  border-color: black;
  transition: 0.2s ease;
}
.buttons button:active,
#be:active,
#ac:active,
#bb:active {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(104, 129, 85);
  transition: 0.2s ease;
  border-color: rgb(104, 129, 85);
}
.buttons #be:hover {
  background-color: black;
  border-color: black;
  transition: 0.2s ease;
}
.buttons button:hover,
#be:hover,
#ac:hover,
#bb:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(104, 129, 85);
  transition: 0.2s ease;
  border-color: rgb(104, 129, 85);
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .mnclaculator {
    width: 60vw;
  }
  .buttons #ac {
    width: 24vw;
  }
}
@media screen and (min-width: 420px) and (max-width: 540px) {
  .mnclaculator {
    width: 50vw;
  }
}

@media screen and (min-width: 541px) and (max-width: 1000px) {
  .mnclaculator {
    width: 35vw;
  }
  .buttons #be {
    width: 25vw;
  }

  .buttons #ac {
    width: 8vw;
  }
}

@media screen and (min-width: 1001px) {
  .mnclaculator {
    width: 22vw;
  }
  .buttons #be {
    width: 15vw;
  }

  .buttons #ac {
    width: 6vw;
  }
}
